<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="row animated fadeIn">
  <div class="col-2">
    <img [src]="artista.images | noimage" [alt]="artista.name" class="img-thumbnail">
  </div>
  <div class="col">
    <h2>{{ artista.name }}</h2>
    <h5>Followers <span class="badge badge-secondary">{{ artista.followers.total }}</span></h5>
    <p>
      <a [href]="artista.external_urls.spotify" target="_blank">
        Ir a la página del artista
      </a>
    </p>
  </div>
  <div class="col-4 text-right">
    <button [routerLink]="['/search']" class="btn btn-outline-danger">Regresar</button>
  </div>
</div>


<div *ngIf="!loading" class="row animated fadeIn">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-sm table-dark table-hover">
        <thead>
        <tr>
          <th>Foto</th>
          <th>Albúm</th>
          <th>Canción</th>
          <th>Vista previa</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let track of topTracks">
          <td><img [src]="track.album.images | noimage" class="img-circle img-thumb"></td>
          <td>{{ track.album.name }}</td>
          <td>{{ track.name }}</td>
          <td>
            <iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0"
                    allowtransparency="true" allow="encrypted-media">
            </iframe>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
